.tab-select, .tab-unselect{
    border-radius: 5px;
    cursor: pointer;
    font-family: Outfit;
    width: 32%;
    border: none;
    padding: 5px 10px;
    
}
.tab-select {
    background-color: var(--accent);
    color: var(--textLight);
}
.tab-unselect{
    background-color: var(--muted);
    color: var(--action);
}
@media(max-width:520px) {
    .tab-select, .tab-unselect {
        font-size: 1em;    
    }
}
@media(min-width:520px) {
    .tab-select, .tab-unselect {
        font-size: 1.2em;
    }
}