.tab-info-provider{
    .title-info-provider{
        color: var(--textOre);
        font-size: 1.5em;
        font-family: Outfit;
    }
    .contet-badge{
        display: flex;
        flex-wrap: wrap;
    }
    .content-gallery{
        height: 500px;
        overflow-y: auto;
    }
}