.tab-comments {
    width: 95%;
    margin:0 auto;
}
.content-comments{
    height: 300px;
    overflow-y: auto;
}
.qualifications{
    color: var(--muted);
    font-size: 1em;
    margin-top: -15px,
}