.alert-cookies{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(212, 175, 55, 0.9);
    padding: 15px 20px;
    @media(min-width: 520px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-alert-cookies{
        color: var(--text);
        font-family: Outfit;
        text-align: justify;
    }
    .btn-alert-cookies{
        border-radius: 10px;
        border: none;
        padding: 7px 20px;
        color: var(--text);
        
        font-weight: bold;
        cursor: pointer;
        @media(max-width: 520px) {
            width: 100%;
            margin-top: 20px;
        }
        @media(min-width: 520px) {
            margin-left: 20px;
        }
    }
}