.card-provider {
    @media(max-width: 520px) {
        .content-card-provider-img {
            width: 100%;
            height: 350px;
        }
        .content-text-card-provider{
            width: 100%;
            padding: 10px 0;
        }
        .title-card-provider{
            font-weight: bold;
            color: var(--action);
            font-size: 1.4em;
            font-family: Outfit;
        }
        .btn-card-provider{
            margin-top: 20px;
            width: 100%;
        }
    }
    @media(min-width: 520px) {
        display: flex;
        .content-card-provider-img {
            width: 40%;
        }
        .content-text-card-provider{
            width: 60%;
            padding: 10px 30px;
        }
        .title-card-provider{
            font-weight: bold;
            color: var(--action);
            font-size: 2em;
            font-family: Outfit;
        }
        .btn-card-provider{
            margin: 20px auto;
        }
    }
    margin: 0 auto;
    border: 2px solid var(--accent);
    padding: 15px;
    margin-bottom: 35px;
    border-radius: 10px;
    width: 90%;
    box-shadow: 0 0 22px -4px rgba(0,0,0,0.7);
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05);
    }
    .btn-card-provider{
        background-color: transparent;
        border: 1px solid var(--accent);
        padding: 10px 40px;
        border-radius: 20px;
        color: var(--action);
        font-weight: bold;
        transition: transform 0.3s ease;
    }
    .card-provider-img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    .content-description-card-provider{
        overflow: hidden;
        overflow-y: auto;
        max-height: 100px;
    }
    .content-badge-card-provider{
        display: flex;
        flex-wrap: wrap;
    }    
    .btn-card-provider:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: var(--accent);
        color: var(--textLight);
    }
    .ant-typography{
        font-size: 1em;
    }
    .read-more{
        font-size: 0.8em;
        &:hover {
            cursor: pointer;
            color: var(--accent);
        }
    }
}